In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('exemplo')

In [3]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [4]:
df.to_csv("exemplo.csv")

In [5]:
df = pd.read_excel("Exemplo_Excel.xlsx", sheetname='Sheet1')

In [6]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [7]:
df.to_excel("Exemplo_Excel.xlsx", sheet_name='Sheet1')

In [9]:
df = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

In [10]:
type(df)

list

In [13]:
df[0].loc[100]

Bank Name                Global Commerce Bank
City                                Doraville
ST                                         GA
CERT                                    34046
Acquiring Institution         Metro City Bank
Closing Date                    March 2, 2012
Updated Date                    June 26, 2014
Name: 100, dtype: object